# Binaries
testfuncs.sh
unit/test_ad/test_ad_copy
unit/test_ad/test_ad_read
unit/test_alloc/test_ckd_alloc
unit/test_alloc/test_ckd_alloc_abort
unit/test_alloc/test_ckd_alloc_catch
unit/test_alloc/test_ckd_alloc_fail
unit/test_alloc/test_listelem_alloc
unit/test_bitvec/test_bitvec
unit/test_case/chgCase
unit/test_cmdln/cmdln_parse
unit/test_cmdln/cmdln_parse_multiple
unit/test_cmdln/cmdln_parse_r
unit/test_fe/test_fe
unit/test_fe/test_pitch
unit/test_feat/test_feat
unit/test_feat/test_feat_fe
unit/test_feat/test_feat_live
unit/test_feat/test_subvq
unit/test_fsg/test_fsg_jsgf
unit/test_fsg/test_fsg_read
unit/test_fsg/test_fsg_write_fsm
unit/test_hash/deletehash
unit/test_hash/displayhash
unit/test_hash/test_hash_iter
unit/test_lineiter/test_lineiter
unit/test_logmath/test_log_int16
unit/test_logmath/test_log_int8
unit/test_logmath/test_log_shifted
unit/test_logmath/tmp.logadd
unit/test_matrix/test_determinant
unit/test_matrix/test_invert
unit/test_matrix/test_solve
unit/test_ngram/test_lm_add
unit/test_ngram/test_lm_casefold
unit/test_ngram/test_lm_class
unit/test_ngram/test_lm_iter
unit/test_ngram/test_lm_mmap
unit/test_ngram/test_lm_read
unit/test_ngram/test_lm_recode
unit/test_ngram/test_lm_score
unit/test_ngram/test_lm_set
unit/test_ngram/test_lm_write
unit/test_string/strtest
unit/test_string/test_atof
unit/test_thread/test_event
unit/test_thread/test_msgq
unit/test_thread/test_thread
unit/test_thread/test_tls_log
unit/test_util/test_bit_encode
unit/test_util/test_build_directory
unit/test_util/test_filename
unit/test_util/test_fopen
unit/test_util/test_heap
unit/test_util/test_huff_code
unit/test_util/test_readfile

# Configured
Makefile
/Makefile.in

# Output
*.err
*.log
*.out
regression/chan3.2chan.wav.mfc
regression/chan3.raw.mfc
regression/chan3.sph.mfc
regression/chan3.wav.mfc
regression/test-sphinx_fe.cepview
regression/test-sphinx_fe.mfc
regression/test-sphinx_pitch.f0
unit/test_ngram/100.tmp.arpa
unit/test_ngram/100.tmp.DMP
