# Configured
*.log
*.status
Makefile
/Makefile.in
compile
configure
depcomp
libtool
ltmain.sh
missing
sphinxbase.pc
test-driver
doc/Makefile.in

# Dependencies
.deps/
.libs/

# M4
aclocal.m4
autom4te.cache/

# Objects
*.la
*.lo
*.o
