# ./autogen.sh
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
doc/Makefile
doc/Makefile.in
include/config.h
include/config.h.in
include/Makefile
include/Makefile.in
include/sphinx_config.h
include/sphinxbase/Makefile
include/sphinxbase/Makefile.in
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
missing
python/Makefile
python/Makefile.in
sphinxbase.pc
src/libsphinxad/Makefile
src/libsphinxad/Makefile.in
src/libsphinxbase/fe/Makefile
src/libsphinxbase/fe/Makefile.in
src/libsphinxbase/feat/Makefile
src/libsphinxbase/feat/Makefile.in
src/libsphinxbase/lm/Makefile
src/libsphinxbase/lm/Makefile.in
src/libsphinxbase/Makefile
src/libsphinxbase/Makefile.in
src/libsphinxbase/util/Makefile
src/libsphinxbase/util/Makefile.in
src/Makefile
src/Makefile.in
src/sphinx_adtools/Makefile
src/sphinx_adtools/Makefile.in
src/sphinx_cepview/Makefile
src/sphinx_cepview/Makefile.in
src/sphinx_fe/Makefile
src/sphinx_fe/Makefile.in
src/sphinx_jsgf2fsg/Makefile
src/sphinx_jsgf2fsg/Makefile.in
src/sphinx_lmtools/Makefile
src/sphinx_lmtools/Makefile.in
test-driver
test/Makefile
test/Makefile.in
test/regression/Makefile
test/regression/testfuncs.sh
test/unit/Makefile
test/unit/test_ad/Makefile
test/unit/test_alloc/Makefile
test/unit/test_bitvec/Makefile
test/unit/test_case/Makefile
test/unit/test_cmdln/Makefile
test/unit/test_fe/Makefile
test/unit/test_feat/Makefile
test/unit/test_fsg/Makefile
test/unit/test_hash/Makefile
test/unit/test_lineiter/Makefile
test/unit/test_logmath/Makefile
test/unit/test_matrix/Makefile
test/unit/test_ngram/Makefile
test/unit/test_string/Makefile
test/unit/test_thread/Makefile
test/unit/test_util/Makefile
test/unit/testfuncs.sh
