# ./configure
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
doc/Makefile
doc/Makefile.in
include/config.h
include/config.h.in
include/Makefile
include/Makefile.in
include/sphinx_config.h
include/sphinxbase/Makefile
include/sphinxbase/Makefile.in
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
missing
python/Makefile
python/Makefile.in
sphinxbase.pc
src/libsphinxad/Makefile
src/libsphinxad/Makefile.in
src/libsphinxbase/fe/Makefile
src/libsphinxbase/fe/Makefile.in
src/libsphinxbase/feat/Makefile
src/libsphinxbase/feat/Makefile.in
src/libsphinxbase/lm/Makefile
src/libsphinxbase/lm/Makefile.in
src/libsphinxbase/Makefile
src/libsphinxbase/Makefile.in
src/libsphinxbase/util/Makefile
src/libsphinxbase/util/Makefile.in
src/Makefile
src/Makefile.in
src/sphinx_adtools/Makefile
src/sphinx_adtools/Makefile.in
src/sphinx_cepview/Makefile
src/sphinx_cepview/Makefile.in
src/sphinx_fe/Makefile
src/sphinx_fe/Makefile.in
src/sphinx_jsgf2fsg/Makefile
src/sphinx_jsgf2fsg/Makefile.in
src/sphinx_lmtools/Makefile
src/sphinx_lmtools/Makefile.in
test-driver
test/Makefile
test/Makefile.in
test/regression/Makefile
test/regression/testfuncs.sh
test/unit/Makefile
test/unit/test_ad/Makefile
test/unit/test_alloc/Makefile
test/unit/test_bitvec/Makefile
test/unit/test_case/Makefile
test/unit/test_cmdln/Makefile
test/unit/test_fe/Makefile
test/unit/test_feat/Makefile
test/unit/test_fsg/Makefile
test/unit/test_hash/Makefile
test/unit/test_lineiter/Makefile
test/unit/test_logmath/Makefile
test/unit/test_matrix/Makefile
test/unit/test_ngram/Makefile
test/unit/test_string/Makefile
test/unit/test_thread/Makefile
test/unit/test_util/Makefile
test/unit/testfuncs.sh

# make
*.la
*.lo
*.o
.libs/
python/build/
python/pymod-build-stamp
src/sphinx_adtools/sphinx_cont_adseg
src/sphinx_adtools/sphinx_cont_fileseg
src/sphinx_adtools/sphinx_pitch
src/sphinx_cepview/sphinx_cepview
src/sphinx_fe/sphinx_fe
src/sphinx_jsgf2fsg/sphinx_jsgf2fsg
src/sphinx_lmtools/sphinx_lm_convert
src/sphinx_lmtools/sphinx_lm_eval
src/libsphinxad/.deps/ad_base.Plo
src/libsphinxad/.deps/cont_ad_base.Plo
src/libsphinxbase/fe/.deps/fe_interface.Plo
src/libsphinxbase/fe/.deps/fe_sigproc.Plo
src/libsphinxbase/fe/.deps/fe_warp.Plo
src/libsphinxbase/fe/.deps/fe_warp_affine.Plo
src/libsphinxbase/fe/.deps/fe_warp_inverse_linear.Plo
src/libsphinxbase/fe/.deps/fe_warp_piecewise_linear.Plo
src/libsphinxbase/fe/.deps/fixlog.Plo
src/libsphinxbase/fe/.deps/yin.Plo
src/libsphinxbase/feat/.deps/agc.Plo
src/libsphinxbase/feat/.deps/cmn.Plo
src/libsphinxbase/feat/.deps/cmn_prior.Plo
src/libsphinxbase/feat/.deps/feat.Plo
src/libsphinxbase/feat/.deps/lda.Plo
src/libsphinxbase/lm/.deps/fsg_model.Plo
src/libsphinxbase/lm/.deps/jsgf.Plo
src/libsphinxbase/lm/.deps/jsgf_parser.Plo
src/libsphinxbase/lm/.deps/jsgf_scanner.Plo
src/libsphinxbase/lm/.deps/lm3g_model.Plo
src/libsphinxbase/lm/.deps/ngram_model.Plo
src/libsphinxbase/lm/.deps/ngram_model_arpa.Plo
src/libsphinxbase/lm/.deps/ngram_model_dmp.Plo
src/libsphinxbase/lm/.deps/ngram_model_dmp32.Plo
src/libsphinxbase/lm/.deps/ngram_model_set.Plo
src/libsphinxbase/util/.deps/bio.Plo
src/libsphinxbase/util/.deps/bitvec.Plo
src/libsphinxbase/util/.deps/case.Plo
src/libsphinxbase/util/.deps/ckd_alloc.Plo
src/libsphinxbase/util/.deps/cmd_ln.Plo
src/libsphinxbase/util/.deps/dtoa.Plo
src/libsphinxbase/util/.deps/err.Plo
src/libsphinxbase/util/.deps/filename.Plo
src/libsphinxbase/util/.deps/genrand.Plo
src/libsphinxbase/util/.deps/glist.Plo
src/libsphinxbase/util/.deps/hash_table.Plo
src/libsphinxbase/util/.deps/heap.Plo
src/libsphinxbase/util/.deps/huff_code.Plo
src/libsphinxbase/util/.deps/info.Plo
src/libsphinxbase/util/.deps/listelem_alloc.Plo
src/libsphinxbase/util/.deps/logmath.Plo
src/libsphinxbase/util/.deps/matrix.Plo
src/libsphinxbase/util/.deps/mmio.Plo
src/libsphinxbase/util/.deps/pio.Plo
src/libsphinxbase/util/.deps/profile.Plo
src/libsphinxbase/util/.deps/sbthread.Plo
src/libsphinxbase/util/.deps/strfuncs.Plo
src/libsphinxbase/util/.deps/unlimit.Plo
src/libsphinxbase/util/.deps/utf8.Plo
src/sphinx_adtools/.deps/cont_adseg.Po
src/sphinx_adtools/.deps/cont_fileseg.Po
src/sphinx_adtools/.deps/sphinx_pitch.Po
src/sphinx_cepview/.deps/main_cepview.Po
src/sphinx_fe/.deps/sphinx_fe.Po
src/sphinx_jsgf2fsg/.deps/main.Po
src/sphinx_lmtools/.deps/sphinx_lm_convert.Po
src/sphinx_lmtools/.deps/sphinx_lm_eval.Po
